*{
    margin:0;
    padding:0;
    font-family: Gelasio, serif;
}

h1{
    font-size: 45px;
    text-align: center;
    margin-top:30px;
    margin-bottom: 40px;
    
}
section{
    margin-top:40px;
    margin-bottom: 30px;
}
footer{
    margin-top: 40px;
    border-top: 1px solid #999;
    padding-top:25px;
    padding-bottom:25px;
    text-align: center;
}

/* estilos de clases */

.contenedor{
    width: 700px;
    margin: 0 auto;
}

.texto{
    text-align: center;
    line-height: 1.7;
    color:#777;
}
.servicios{
    margin-top:40px;
    text-align: center;
}
.servicios a{
    font-size: 22px;
    color:black;
    line-height: 2.3;
}

.pie{
    font-size:18px;
    color:#777;
}
.pie a{
    color:black;
}
.iconos{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    
}
.iconos i{
    margin-right: 20px;
    color:black;
}

.volver{
    margin:20px;
}
.volver a{
    color:black;
    font-size: 20px;
    font-weight: 400;
}
.seccion{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 35px;

}
.plato{
    text-align: center;
    font-size: 18px;
    line-height: 3;  
}
.alergia{
    font-style: italic;
}

.separador{
    width: 5%;                       /* Ancho deseado */
    margin: 20px auto;               /* 20px arriba/abajo, auto centra horizontalmente */
    border: 0;                       /* Elimina el borde por defecto del navegador */
    border-top: 4px solid #d0cece; /* Define el grosor y color */

}